.dialog_box{
    position: absolute;
    top: 5px;
    left: 12px;
    padding: 5px 15px;
    /* border: 2px solid black; */
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    display: flex;
    align-items: center;
    gap: 10px;
}

.delete_icon{
    color: rgba(200, 100, 100);
}