
li {
    list-style-type: none;
    font-size: 20px;
}

li:hover{
    background-color: #fcfcfc;
}

.inlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.checkboxSup{
    margin-right: 15px;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

.checkboxSub{
    margin-right: 10px;
    width: 13px;
    height: 13px;
    vertical-align: bottom;
}

input[type="checkbox"]{
    appearance: none;
    border: 1px solid black
}

input[type="checkbox"]:checked {
    accent-color: #ddd;
    /* appearance: none; */
    background-color: #ddd;
    border: 1px solid white;
}

.title_checked{
    color: #bbb;
    text-decoration: line-through;
}

.superiorTask {
    /* margin-top: 5px; */
    padding: 5px; /* add some padding to the container */
    font-weight: 500;
}

.subtask{
    color: #444;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0 !important;
}

.task_title{
    display: inline-block;
    margin-right: 10px; 
    vertical-align: middle;
}

.secondContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.secondContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.barsContainer {
    margin-left: 10px; /* add some margin to the bars container */
    cursor: pointer;
    position: relative;
}

.toggle_button{
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

.title_checked{
    color: #bbb;
    text-decoration: line-through;
}
