
li {
    list-style-type: none;
    font-size: 16px;
}

li:hover{
    background-color: #f0f0f0;
    transform: scale(1.002);
}

.inlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.checkboxSup{
    margin-right: 15px;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    appearance: none;
    border: 1px solid black;
}

.checkboxSub{
    margin-right: 10px;
    width: 11px;
    height: 11px;
    vertical-align: bottom;
    appearance: none;
    border: 1px solid #898989;
}

/* input[type="checkbox"]{
    appearance: none;
    border: 1px solid black
} */

input[type="checkbox"]:checked {
    accent-color: #ddd;
    /* appearance: none; */
    background-color: #ddd;
    border: 1px solid white;
}

.title_checked{
    color: #bbb;
    text-decoration: line-through;
}

.superiorTask {
    /* margin-top: 5px; */
    padding: 7px;
    font-weight: 500;
}

.subtask{
    color: #444;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0 !important;
}

.task_title{
    display: inline-block;
    margin-right: 10px; 
    vertical-align: middle;
    /* Break lines */
    white-space: normal;
    word-wrap: break-word;
    max-width: 400px;
    overflow-wrap: break-word;
}

.secondContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.secondContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.barsContainer {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.toggle_button{
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

.title_checked{
    color: #bbb;
    text-decoration: line-through;
}

.FaBars{
    font-size: 13px;
    color: #999;
}

.FaBars:hover{
    color: #222;
}

.arrows{
    color: #aaa;
}

.arrows:hover {
    color: #222;
}