
li {
    list-style-type: none;
    font-size: 20px;
}

li:hover{
    background-color: #fcfcfc;
}

.inlineContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.checkboxSup{
    margin-right: 15px;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

.checkboxSub{
    margin-right: 10px;
    width: 13px;
    height: 13px;
    vertical-align: bottom;
}

.superiorTask {
    margin-top: 10px;
    padding: 10px; /* add some padding to the container */
}

.subtask{
    color: #444;
    font-size: 15px;
    margin-top: 0 !important;
}

.task_title{
    display: inline-block;
    margin-right: 10px; 
    vertical-align: middle;
}

.secondContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.secondContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.barsContainer {
    margin-left: 10px; /* add some margin to the bars container */
    cursor: pointer;
}

.toggle_button{
    display: inline-block;
    vertical-align: middle;
    border: none;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
}

.title_checked{
    color: #ccc;
}